  {% load static %}
  <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Blogs> Your Blogs</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Blog Title</th>
                      <th>Publish Date</th>
                      <th>Settings</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Blog Title</th>
                      <th>Publish Date</th>
                      <th>Settings</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{ user.title |capfirst  }}</td>
                      <td>{{ user.pub_date }}</td>
                      <td>
                        <a type="button" class="btn btn-outline-primary" href="{% url 'update_skill' skills_no=user.id %}"><i class="far fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-danger" href="{% url 'delete_skill' skills_id=user.id %}"><i class="far fa-trash-alt"></i></a>
                      </td>
                    </tr>
                    {% endfor%}
                    <tr>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_skill'%}"><i class="fa fa-plus-circle"></i></a></td>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_skill'%}"><i class="fa fa-plus-circle"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        {% block pagination %}
        {% include 'dashboard/pages/workspace/member/slices/pagination.html' %}
        {% endblock pagination %}
       
            </div>
       
          </div>