 {% load static %} {% load crispy_forms_tags %}
<!-- DataTales Example -->
<div class="card shadow mb-4 col-12">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">About Yourself > Your Skills > Delete Skills</h6>
    </div>
    <div class="card-body">
    <h3> Do you really want to delete your skill?</h3>
    <br>
    <h4>Institute Name: {{ data.institute_name|capfirst }}</h4>
    <h4>Level: {{ data.level|capfirst }}</h4>
    <h4>Location: {{ data.institute_location|capfirst }}</h4>
    <br>
    <a  class="btn btn-danger mr-5" href="{% url 'delete_education_confirm' education_id=data.id %}">Yes,Delete</a>
    <a  class="btn btn-primary" href="{% url 'education_list' %}">Cancel</a>
</div>
</div>