 {% load static %} {% load crispy_forms_tags %}
<!-- DataTales Example -->
<div class="card shadow mb-4 col-12">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User > Delete User</h6>
    </div>
    <div class="card-body">
    <h3> Do you really want to delete this User?</h3>
    <br>
    <h4>Username: {{ data.username|capfirst }}</h4>
    <br>
    <a  class="btn btn-danger mr-5" href="{% url 'admin_delete_user_confirm' user_id=data.id %}">Yes,Delete</a>
    <a  class="btn btn-primary" href="{% url 'members' %}">Cancel</a>
</div>
</div>