{% load static %}
        <!--================Feature Area =================-->
        <section class="feature_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>{{ offer.heading }}</h2>
        			<p>{{ offer.sub_desc }}</p>
        		</div>
        		<div class="feature_inner row">
				{% for item in offer.offers.all %}
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<i class="fa fa-{{ item.icon.icon }}"></i>
        					<h4>{{ item.title }}</h4>
        					<p>{{ item.short_desc }}</p>
        				</div>
        			</div>
        		{% endfor %}
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        