 {% load static %}
 <!--================My Tabs Area =================-->
        <section class="mytabs_area p_120">
        	<div class="container">
        		<div class="tabs_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">My Experiences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My Education</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							<ul class="list">
							{% for exp in experience %}
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{{ exp.start_date }} to {%if exp.current_working %}present {% else %} {{ exp.end_date }} {% endif %}</p>
										</div>
										<div class="media-body">
											<h4>{{ exp.company_name }}</h4>
											<p>{{ exp.job_title}} {{ exp.employee_type }} <br />{{ exp.company_location}}</p>
										</div>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
							<ul class="list">
							{% for edu in education %}
								<li>
									<span></span>
									<div class="media">
										<div class="d-flex">
											<p>{{ edu.start_date }} to {%if edu.current_studying %}present {% else %} {{ edu.end_date }} {% endif %}</p>
										</div>
										<div class="media-body">
											<h4>{{ edu.institute_name }}</h4>
											<p>{{ edu.level }} <br />{{ edu.institute_location}}</p>
										</div>
									</div>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
        		</div>
        	</div>
        </section>
        <!--================End My Tabs Area =================-->