{% load static %}
<!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Testimonials</h2>
        			<p>{{ testimonials.sub_desc }}</p>
        		</div>
        		<div class="testi_inner">
					<div class="testi_slider owl-carousel">
					{% for testimonial in testimonials.testimonials.all %}
						<div class="item">
							<div class="testi_item">
								<p>{{ testimonial.message }}</p>
								<h4>{{ testimonial.name }}</h4>
								<a href="#"><i class="fa fa-star"></i>{{ testimonial.stars }}</a>
							</div>
						</div>
					{% endfor %}
					</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->