    {% load static %}
    <!--================Welcome Area =================-->
        <section class="welcome_area p_120">
        	<div class="container">
        		<div class="row welcome_inner">
        			<div class="col-lg-6">
        				<div class="welcome_text">
        					<h4>About Myself</h4>
        					<p>{{ about.short_desc }}</p>
        					<div class="row">
							{% for work in about.work_count.all %}
        						<div class="col-md-4">
        							<div class="wel_item">
        								<i class="fa fa-{{ work.icon.icon }}"></i>
        								<h4>{{ work.count}}</h4>
        								<p>{{ work.work_name}}</p>
        							</div>
        						</div>
							{% endfor %}
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-6">
        				<div class="tools_expert">
        					<div class="skill_main">
							{% for skill in about.Skills.all %}
								<div class="skill_item">
									<h4>{{ skill.skill_name }} <span class="counter">{{ skill.percentage }}</span>%</h4>
									<div class="progress_br">
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Welcome Area =================-->