  {% load static %}
 {% load crispy_forms_tags %}

   <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Projects> Add or Update Your Project</h6>
            </div>
            <div class="card-body">
 <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-4">
                {{ form.media }}

                {{ form|crispy}}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>



            </div>
       
          </div>