  {% load static %}
  <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">User Table</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Staff Status</th>
                      <th>Last Login</th>
                      <th>Settings</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Staff Status</th>
                      <th>Last Login</th>
                      <th>Settings</th>

                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                    {% for user in users %}
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.first_name }}</td>
                      <td>{{user.last_name }}</td>
                      <td>
                       {% if user.is_superuser %}
                      <span class="badge badge-dark">Superuser</span>
                      {% endif %}
                      {% for group in user.groups.all %} 
                      <span class="badge badge-dark">{{ group }}</span>
                      {% endfor %}</td>
                      <td>{{ user.last_login }}</td>
                      <td>
                       <a type="button" class="btn btn-outline-primary" href="{% url 'admin_user_update' user_id=user.id %}"><i class="far fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-danger" href="{% url 'admin_delete_user' user_id=user.id %}"><i class="far fa-trash-alt"></i></a>
                      </td>
                    </tr>
                    {% endfor%}
                    <tr>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    <td><a type="button" class="btn btn-outline-primary" href="{% url 'create_user'%}"><i class="fa fa-plus-circle"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        {% block pagination %}
        {% include 'dashboard/pages/workspace/member/slices/pagination.html' %}
        {% endblock pagination %}
       
            </div>
       
          </div>