
{% extends 'base_layout.html' %}
{% load static %}

{% block head %}
{% include 'slices/head.html' %}
{% endblock head %}

{%block navbar %}
{% include 'slices/navbar.html'%}
{% endblock navbar%}

   {% block body %}
        
		{%block breadcurm %}
		{% include 'pages/services/slices/breadcurm.html'%}
		{% endblock breadcurm%}
        
        {% block feature %}
		{% include 'pages/index/slices/feature.html'%}
		{% endblock feature%}
        
        {% block testimonials %}
		{% include 'pages/index/slices/testimonials.html'%}
		{% endblock testimonials %}
        
      {% endblock body %}
	  
{% block footer %}
{% include 'slices/footer.html'%}
{% endblock footer%}
{% block scripts %}
{%include 'slices/scripts.html'%}
{% endblock scripts%}