
{% extends 'base_layout.html' %}
{% load static %}

{% block head %}
{% include 'slices/head.html' %}
{% endblock head %}

{%block navbar %}
{% include 'slices/navbar.html'%}
{% endblock navbar%}

   {% block body %}

        {%block blog_banner %}
        {% include 'pages/blogs/slices/blog_banner.html'%}
        {% endblock blog_banner%}
        
        {%block blog_catogry %}
        {% include 'pages/blogs/slices/blog_catogory.html'%}
        {% endblock blog_catogry%}
        
        {%block blog_area %}
        {% include 'pages/blogs/slices/blog_area.html'%}
        {% endblock blog_area%}
        

       
  {% endblock body %}
  
{% block footer %}
{% include 'slices/footer.html'%}
{% endblock footer%}
{% block scripts %}
{%include 'slices/scripts.html'%}
{% endblock scripts%}