<!DOCTYPE html>
<html lang="en">
{% load static %}

<!-- head -->
{% block head %}

{% endblock head %}

    <!-- sidebar -->
    {% block sidebar %}
   
    {% endblock sidebar %}
    <!-- Content Wrapper -->
   
 <!--topbar -->
        {% block topbar %}
       
        {% endblock topbar %}

        {% block body %}

        {% endblock body %}

      </div>
      <!-- End of Main Content -->

    <!--footer -->
        {% block footer %}
      
        {% endblock footer %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

<!--scorll button-->
        {% block scrollbthn %}
        
        {% endblock scrollbthn %}

 <!--logout modal-->
        {% block logoutmodal %}
       
        {% endblock logoutmodal %}

  <!--scripts-->
        {% block scripts %}
        
        {% endblock scripts %}

</body>

</html>
