 {% load static %}
 <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                           {% block search_area %}
                           {% include 'pages/blogs/slices/search_widgets.html' %}
                           {% endblock search_area %}

                           {% comment %} {% block b_author_area %}
                           {% include 'pages/blogs/slices/blog_author_widgets.html' %}
                           {% endblock b_author_area %} {% endcomment %}

                           {% block b_popular_area %}
                           {% include 'pages/blogs/slices/blog_popular_post_widget.html' %}
                           {% endblock b_popular_area %}

                            
                           {% block b_category_area %}
                           {% include 'pages/blogs/slices/blog_category_widget.html' %}
                           {% endblock b_category_area %}

                            
                           
                            
                        </div>
                    </div>