  {% load static %}
  <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">SEOs> Your SEOs</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Seo Name</th>
                      <th>Page Type</th>
                      <th>Page Name</th>
                      <th>Page Title</th>
                      <th>Settings</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Seo Name</th>
                      <th>Page Type</th>
                      <th>Page Name</th>
                      <th>Page Title</th>
                      <th>Settings</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{ user.seo_name |capfirst  }}</td>
                      <td>{{ user.page |capfirst  }}</td>
                      <td>{{ user.action |capfirst  }}</td>
                      <td>{{ user.page_title |capfirst  }}</td>
                      <td>
                        <a type="button" class="btn btn-outline-primary" href="{% url 'seo_tag_update' seo_id=user.id %}"><i class="far fa-edit"></i></a>
                        <a type="button" class="btn btn-outline-danger" href="{% url 'delete_seo_tag' seo_id=user.id %}"><i class="far fa-trash-alt"></i></a>
                      </td>
                    </tr>
                    {% endfor%}
                    <tr>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_seo_tag'%}"><i class="fa fa-plus-circle"></i></a></td>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_seo_tag'%}"><i class="fa fa-plus-circle"></i></a></td>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_seo_tag'%}"><i class="fa fa-plus-circle"></i></a></td>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_seo_tag'%}"><i class="fa fa-plus-circle"></i></a></td>
                        <td><a type="button" class="btn btn-outline-primary" href="{% url 'add_seo_tag'%}"><i class="fa fa-plus-circle"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        {% block pagination %}
        {% include 'dashboard/pages/workspace/member/slices/pagination.html' %}
        {% endblock pagination %}
       
            </div>
       
          </div>